/*
    this css file should only include variables definitions
*/

* {
    /* NOT ACTUAL COLOR, TESTING ONLY */

    palette1-0: #1f2425;

    palette1-1: #2f3838;
    palette1-2: #485b59;
    palette1-3: #506e6c;

    palette2-1: #4d8849;
    palette2-2: #77a849;
    palette2-3: #95bb43;


    palette3-1: #b94f3d;
    palette3-2: #d57044;
    palette3-3: #de8f5e;
    /*palette3-1: #20559a;*/
    /*palette3-2: #3681b6;*/
    /*palette3-3: #4497b0;*/

    palette4-1: #dad7cd;
    palette4-2: #a29f9f;


    shadow1: rgba(41, 45, 54, 0.3);

}
