* {
    palette1-0: #FFFFFF;
    palette1-1: #F2E8CF;
    palette1-2: #eedfc2;
    palette1-3: #f3d7ad;

    palette2-1: #A7C957;
    palette2-2: #87bb61;
    palette2-3: #5b8d56;

    palette3-1: #de8f5e;
    palette3-2: #d57044;
    palette3-3: #b94f3d;

    palette4-1: #1e1715;

    shadow1: rgba(56, 65, 55, 0.3);

}