* {
    palette1-0: #FFFFFF;
    palette1-1: #F2E8CF;
    palette1-2: #efdfc0;
    palette1-3: #efd1a4;

    palette2-1: #A7C957;
    palette2-2: #87bb61;
    palette2-3: #5b8d56;

    palette3-1: #5E7BDE;
    palette3-2: #5b4acb;
    palette3-3: #5935c4;

    palette4-1: #1e1715;
    palette4-2: #525252;

    shadow1: rgba(56, 65, 55, 0.3);

}