.root {
    -fx-background-color: palette1-1;
    -mfx-main: palette3-2;
    -mfx-text-he: palette3-2;
    -fx-text-fill: palette4-1;
    -fx-fill: palette4-1;
    -fx-font-family: "Roboto";
    -fx-font-size: 14;
}

.label {
    -fx-background-color: transparent;
    -fx-text-fill: palette4-1;
    -fx-font-family: "Roboto";
}

.text-field {
    -fx-highlight-fill: #fdede0;
    -fx-prompt-text-fill: palette4-2;
    -fx-text-fill: palette4-1;
    -fx-font-family: "Roboto";
    -fx-font-size: 14;
}


.text, .mfx-text-field .mfx-text-field .measure-unit {
    -fx-font-family: "Roboto";
    -fx-font-size: 14;
    -fx-background-color: palette1-1;
    -fx-text-fill: palette4-1;
}


.mfx-text-field {
    -fx-border-color: palette4-1;
    -fx-background-color: palette1-0;
}

.mfx-text-field .measure-unit {
    -fx-text-fill: palette4-1;
}


.mfx-text-field:focused {
    -fx-background-color: palette1-0;
    -fx-border-color: palette3-1;
}

.mfx-text-field .floating-text {
    -fx-background-color: inherit;
}


.mfx-combo-box {
    -fx-font-family: "Roboto";
    -fx-background-color: palette1-0;
    -fx-border-color: transparent;
}

.mfx-combo-box .combo-popup {
    -fx-background-color: palette1-0;
    -fx-min-height: 200;
}

.ikonli-font-icon, .mfx-font-icon {
    -fx-fill: palette4-1;
    -fx-text-fill: palette4-1;
}


/* BASE STYLE

- #baseRoot
  - .border-pane
    - #navBar
      - .vbox
        - .mfx-rectangle-toggle-node
    - #pageRoot

*/
#baseRoot {
    -fx-background-color: palette1-1;
}


#navBar {
    -fx-background-color: palette2-2;
    -fx-background-radius: 0 10 10 0;
}

#navBar .mfx-rectangle-toggle-node {
    -fx-border-width: 0;
    -fx-border-radius: 8;
    -fx-background-radius: 8;
    -fx-background-color: inherit;
    -fx-text-fill: palette1-1;
    -fx-icon-color: palette1-1;
    box-sizing: border-box;
    -fx-padding: 0;
}

#navBar .mfx-ripple-generator {
    /* since I cant get the size right, I just disabled it*/
    -mfx-paused: true;
    -fx-background-size: 60 60;

}

#navBar .ikonli-font-icon {
    -fx-effect: dropshadow(gaussian, shadow1, 0, 0.2, 2, 2);
}

#pageRoot {
    -fx-background-color: transparent;
}


/*#navBar .mfx-rectangle-toggle-node:focused {*/
/*    -fx-border-radius: 2;*/
/*    -fx-border-color: #ccFFcc;*/
/*}*/

#navBar .mfx-rectangle-toggle-node:hover {
    /*-fx-background-color: palette2-3;*/
    -fx-icon-color: palette3-3;
}

#navBar .mfx-rectangle-toggle-node:selected {
    -fx-background-color: palette3-2;
    -fx-icon-color: palette1-1;
    -fx-effect: innershadow(gaussian, shadow1, 10, 0.2, 0, 3);
}

#navBar .mfx-rectangle-toggle-node:selected .ikonli-font-icon {
    /*-fx-effect: none;*/
}

#navBar .mfx-rectangle-toggle-node * {
    -fx-icon-color: inherit;
}


/* HOME PAGE STYLE

- #homeRoot
  - #homeMainContentRoot
    - #homeFullScreenButton
    - #homeSelectedTag
      - .label
      - .circle
    - #homeActivitySelectorComboBox
    - #homeProgressDisplay
      - .mfx-progress-spinner
      - #homeTreeButton
      - .image-view
    - #homeActivityButton
  - <home page tags>
*/


#homeRoot {
    -fx-background-color: palette1-1;
}

#homeFullScreenButton {
    -fx-background-color: transparent;
    -fx-fill: palette2-2;
}

#homeFullScreenButton * {
    -fx-fill: palette2-2;
}

/*#homeProgressDisplay{*/
/*    */
/*}*/

#homeRoot .mfx-spinner {
    -fx-background-color: palette2-2;
    -fx-background-radius: 30;
    -fx-border-color: palette2-2;
    -fx-padding: 5;
    -fx-border-radius: 30;
    /*-fx-effect: innershadow(gaussian, palette1-3, 15, 0.4, 0, 0);*/
}

#homeRoot .mfx-spinner:focused,
#homeRoot .mfx-spinner:hover {
    -fx-border-color: palette3-2;
}


#homeRoot .mfx-spinner .mfx-icon-wrapper {
    -fx-translate-x: 15;
    -fx-background-color: palette1-1;
    -fx-border-color: transparent;
    -fx-border-width: 1;
    -fx-border-radius: 50%;
}

#homeRoot .mfx-spinner .mfx-icon-wrapper:hover {
    -fx-background-color: palette1-2;
    -fx-border-color: palette3-2;
    -fx-border-width: 1;
}

#homeRoot .mfx-spinner .mfx-icon-wrapper:pressed, #homeRoot .mfx-spinner .mfx-icon-wrapper:armed {
    -fx-border-width: 2;
    -fx-border-color: palette3-3;
}

#homeRoot .mfx-spinner .mfx-icon-wrapper .mfx-font-icon {
    -mfx-color: palette4-1;
}


#homeRoot .mfx-spinner .mfx-text-field {
    -fx-pref-width: 50;
    -fx-min-width: 50;
    -fx-background-color: palette1-0;
    -fx-border-color: palette2-2;
    -fx-text-alignment: center;
    -fx-alignment: CENTER;
}

#homeSelectedTagRoot {
    -fx-background-color: palette1-3;
    -fx-background-radius: 25;
    -fx-padding: 10 20 10 20;
    -fx-effect: innershadow(gaussian, shadow1, 15, 0, 0, 3);
}

#homeSelectedTagRoot * {
    -fx-text-fill: palette4-1;
    -fx-font-size: 20;
    -fx-font-family: "Roboto";

}

#homeActivityTimeLabel {
    -fx-background-color: palette2-1;
    -fx-background-radius: 40;
    -fx-padding: 0 20 0 20;
    -fx-text-fill: palette1-1;
    -fx-effect: innershadow(gaussian, shadow1, 15, 0, 0, 3);
}

#homeActivityTimeLabel .text {
    -fx-font-size: 48;
    -fx-font-family: "Roboto";
}


#homeProgressDisplay .mfx-progress-spinner {
    -mfx-color1: palette3-1;
    -mfx-color2: palette3-1;
    -mfx-color3: palette3-1;
    -mfx-color4: palette3-1;
}

#homeTreeButton {
    -fx-effect: dropshadow(gaussian, shadow1, 20, 0.3, 0, 5);
    -fx-background-color: palette1-3;
    -fx-background-radius: 50%;
}

#homeTreeButton .mfx-ripple-generator {
    -mfx-paused: true;
}

#homeActivityButton {
    -fx-text-fill: palette4-1;
    -fx-border-color: palette3-2;
    -fx-border-width: 2;
    -fx-border-radius: 8;
    -fx-background-color: palette3-1;
    -fx-background-radius: 10;
    -fx-font-size: 20;
    -fx-effect: dropshadow(gaussian, shadow1, 10, 0.2, 3, 3);
}

#homeActivityButton * {
    -fx-font-size: 20;
    -fx-font-family: "Roboto Bold";
}

#homeActivityButton:hover {
    /*-fx-background-color: palette1-0;*/
    /*-fx-text-fill: palette3-2;*/
    -fx-border-color: palette3-3;
    -fx-background-color: palette3-2;
    -fx-border-width: 3;
}

#treeChooserPopup .mfx-scroll-pane {
    -fx-background-radius: 5;
    -fx-background-color: palette1-1;
    -fx-effect: dropshadow(gaussian, shadow1, 20, 0.2, 2, 3);
}

#treeChooserPopup .mfx-scroll-pane .track {
    -fx-background-color: palette1-2;
}

#treeChooserPopup .mfx-scroll-pane .thumb {
    -fx-background-color: palette3-1;
}

#treeChooserPopup .mfx-scroll-pane .thumb:hover {
    -fx-background-color: palette3-2;
}

#treeChooserPopup .mfx-rectangle-toggle-node {
    -fx-effect: dropshadow(gaussian, shadow1, 5, 0.2, 2, 2);
    -fx-background-color: palette1-2;
    -fx-border-color: palette1-3;
    -fx-border-width: 2;
    -fx-background-radius: 6;
    -fx-border-radius: 5;
}

#treeChooserPopup .mfx-rectangle-toggle-node:disabled {
    -fx-effect: none;
    -fx-background-color: palette1-1;
    -fx-border-color: palette1-2;
}

#treeChooserPopup .mfx-rectangle-toggle-node:selected {
    -fx-border-color: palette3-3;
}

#treeChooserPopup .mfx-rectangle-toggle-node:hover {
    -fx-border-color: palette3-2;
    -fx-border-width: 3;

}

/*#homeTagList {*/

/*}*/

/* HOME PAGE TAGS STYLE

- #homePageTagsRoot
  - .vbox
   - <tags>
  - #newTagButton (.mfx-button)
*/

#homePageTagsRoot {
    -fx-background-color: palette2-2;
    -fx-background-radius: 10 0 0 10;
    -fx-effect: dropshadow(gaussian, shadow1, 20, 0.4, 0, 0);
}

#homePageTagsRoot .label {
    -fx-background-color: palette1-1;
    -fx-background-radius: 23;
    -fx-padding: 5 25 5 25;
    -fx-text-fill: palette4-1;
    -fx-font-weight: 800;
    -fx-font-size: 16;
    -fx-effect: dropshadow(gaussian, shadow1, 20, 0.4, 0, 0);

}

/*
todo: this should be a reusable class
 */
#newTagButton {
    -fx-text-fill: palette4-1;
    -fx-border-color: palette3-2;
    -fx-border-width: 2;
    -fx-border-radius: 8;
    -fx-background-color: palette3-1;
    -fx-background-radius: 10;
    -fx-font-weight: 800;
    -fx-effect: dropshadow(gaussian, shadow1, 10, 0.2, 3, 3);
}


#newTagButton:hover {
    -fx-border-color: palette3-3;
    -fx-background-color: palette3-2;
}


/* TAG STYLE

- .homeTag (mfx-rectangle-toggle-group)
  - hbox
    - .tagColorButton
      - color-picker
    - .tagTextField
    - .tagRemoveButton
      - ikonli-font-icon


*/


/*-fx-color-label-visible*/

.homeTag {
    -fx-background-color: palette1-1;
    -fx-border-color: transparent;
    -fx-border-radius: 21;
    -fx-background-radius: 21;
    -fx-text-fill: palette4-1;

    -fx-border-width: 2;
    -fx-effect: dropshadow(gaussian, shadow1, 10, 0.2, 3, 3);
}

.homeTag:hover {
    -fx-border-color: palette3-3;
}

.homeTag:selected {
    -fx-background-color: palette3-1;
    -fx-border-color: palette3-3;
    -fx-border-width: 3;

    -fx-effect: innershadow(gaussian, shadow1, 10, 0.2, 3, 3);

}

.homeTag .mfx-ripple-generator {
    -mfx-paused: true;
}


.tagColorButton {
    -fx-background-radius: 50%;
    -fx-border-radius: 50%;
    -fx-effect: dropshadow(gaussian, shadow1, 5, 0.3, 0, 0);
}

.tagColorButton:hover {
    -fx-effect: dropshadow(gaussian, shadow1, 6, 0.7, 0, 0);
}


.tagTextField {
    -fx-font-weight: 800;
    -fx-text-fill: palette4-1;
    -fx-border-width: 0;
    -fx-background-color: transparent;
}

/*.homeTag:selected .tagTextField {*/
/*    -fx-text-fill: palette1-0;*/
/*}*/

.tagTextField * {
    -fx-text-fill: inherit;
}

.tagRemoveButton {
    -fx-background-color: transparent;
    -fx-icon-color: palette4-1;
}

.tagRemoveButton * {
    -fx-icon-color: inherit;
}


/*
FEEDBACK STYLE
*/


.header {
    -fx-font-weight: 800;
    -fx-font-size: 18;
}


.notification {
    -fx-background-color: palette1-1;
    -fx-background-radius: 4;
    -fx-border-width: 2;
    -fx-border-radius: 4;
    -fx-border-color: palette1-3;
    -fx-padding: 4;
    -fx-text-fill: palette4-1;

}

.notification .header {
    -fx-background-color: palette2-1;
    -fx-background-radius: 4;
}

.notification .header .text {
    -fx-font-size: 16;
}

.notification .content .text {
    -fx-font-size: 14;
}


.dialog {
    -fx-background-color: palette1-1;
}

.dialog .content-container, .dialog .content-container .content {
    -fx-background-color: transparent;
}

.dialog .header-label {
    -fx-background-color: transparent;
}

.dialog .actions-pane .mfx-button {
    -fx-text-fill: palette4-1;
    -fx-background-color: palette3-1;
    -fx-border-color: palette3-2;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-border-width: 2;
}

.dialog .actions-pane .mfx-button:hover {
    -fx-background-color: palette3-2;
    -fx-border-color: palette3-3;
}

.dialog .actions-pane .mfx-button .mfx-ripple-generator {
    -mfx-ripple-color: palette3-3;
}

#endOfActivityRecap {
    -fx-background-color: palette1-1;
}

#endOfActivityRecap .content-container,
#endOfActivityRecap .content-container .content {
    -fx-background-color: transparent;
}


#endOfActivityRecap .header-label {
    -fx-font-size: 18;
}


/*
PROGRESS STYLE
 */

#progressPageRoot {
    -fx-background-color: palette1-1;
}

#progressPageRoot .mfx-scroll-pane {
    -fx-background-color: transparent;
}

#progressTreeSelection, .progressTreeDetailGrid {
    -fx-background-color: palette1-2;
    -fx-background-radius: 9;
    -fx-border-width: 2;
    -fx-border-radius: 8;
    -fx-border-color: palette1-3;
    -fx-padding: 4 8 4 8;
    -fx-effect: innershadow(gaussian, shadow1, 12, 0.4, 0, 0);
}

#progressUnlockedTreeDetailGrid,
#progressToUnlockTreeDetailGrid {
}


.progressTreeCard {
    -fx-background-color: palette1-0;
    -fx-background-radius: 6;
    -fx-effect: dropshadow(gaussian, shadow1, 6, 0.3, 0, 3);
}

.progressTreeCard:hover {
    -fx-background-radius: 10;
    -fx-effect: dropshadow(gaussian, shadow1, 12, 0.3, 0, 3);
}


.selectedTreeToUnlockCard {
    -fx-border-color: palette3-2;
    -fx-border-width: 2;
    -fx-border-radius: 4;
    -fx-effect: dropshadow(gaussian, palette3-1, 10, 0, 0, 3);
}

.progressPlaceHolderTreeCard {
    -fx-background-color: transparent;
}

.progressTreeSelectionButton {
    -fx-background-color: palette1-0;
    -fx-background-radius: 15;
    -fx-border-radius: 15;
    -fx-border-color: palette1-2;
}

.progressTreeSelectionButton:hover {
    -fx-background-color: palette1-1;
    -fx-border-color: palette3-1;
}

#progressIntervalComboBox {

}

#progressTreeContainer {
    -fx-background-radius: 30;
    -fx-background-color: palette2-1;
}

.progressTree {
    -fx-background-color: transparent;
}

.progressTree .mfx-ripple-generator {
    -mfx-paused: true;
}

/*
REGISTRATION STYLE
*/

#loginPopUp {
    -fx-background-color: palette1-1;
    -mfx-main: palette3-2;
    -mfx-text-he: palette3-2;
    -fx-text-fill: palette4-1;
    -fx-fill: palette4-1;
    -fx-font-family: "Roboto";
    -fx-border-color: palette3-1;
}


#loginPopUp .text,
#loginPopUp .label,
#loginPopUp .text-field {
    -fx-text-fill: palette4-1;
}

#loginPopUp .mfx-button {
    -fx-background-color: palette1-0;
    -fx-text-fill: palette4-1;
}

#loginPopUp .mfx-text-field,
#loginPopUp .mfx-password-field {

    -fx-background-color: palette1-0;
    -fx-text-fill: palette4-1;
}

#registrationPageRoot {
    -fx-background-color: palette1-1;
}

.mfx-stepper {
    -mfx-base-color: palette3-2;
    -mfx-alt-color: palette1-1;
    -mfx-progress-color: palette2-2;
}

#registrationPageRoot .text-field {
    -fx-max-height: 26;
    -fx-pref-height: 26;
    -fx-min-height: 26;

}

.mfx-stepper .mfx-button,
.mfx-stepper .mfx-text-field {
    -fx-background-color: palette1-0;
    -fx-text-fill: palette4-1;
    -fx-pref-width: 200;
    -fx-min-width: 200;
    -fx-max-height: 34;
    -fx-pref-height: 34;
    -fx-min-height: 34;
}

.mfx-stepper .text,
.mfx-stepper .text-field,
.mfx-stepper .label {
    -fx-text-fill: palette4-1;
}

#registrationPageRoot .header-label {
}

#registrationPageRoot .registrationFieldBox {
    -fx-background-color: palette1-2;
    -fx-background-radius: 6;
    -fx-padding: 4;
}


/*.outline-button {*/
/*    -fx-background-color: palette1-0;*/
/*    -fx-border-color: palette3-1;*/
/*    -fx-border-radius: 3;*/

/*    -fx-text-fill: palette4-1;*/
/*}*/

/*.outline-button:hover,*/
/*.outline-button:focused {*/
/*    -fx-background-color: palette3-1;*/
/*    -fx-text-fill: palette4-1;*/
/*}*/


/*.mfx-stepper-toggle,*/
/*.mfx-stepper-toggle:none #circle,*/
/*.mfx-stepper-toggle:selected #circle,*/
/*.mfx-stepper-toggle:completed #circle,*/
/*.mfx-stepper-toggle:invalid #circle,*/
/*#circle {*/
/*    -fx-background-color: #f00;*/
/*    -fx-stroke: #00f;*/
/*    -fx-fill: #0ff;*/
/*    -mfx-main: #a0a;*/
/*    -fx-border-color: #589;*/
/*}*/


/*.mfx-stepper-toggle:selected,*/
/*.mfx-stepper-toggle:selected #circle {*/
/*    -fx-stroke: palette2-2;*/
/*}*/

/*.mfx-stepper-toggle:selected .mfx-text-field {*/
/*    -fx-text-fill: palette4-1;*/
/*}*/

/*.mfx-stepper-toggle:completed,*/
/*.mfx-stepper-toggle:completed #circle {*/
/*    -fx-stroke: palette2-2;*/
/*    -fx-fill: palette2-2;*/
/*}*/

#loginPane {
    -fx-background-color: transparent;
}


/*
    INFO STYLE
*/

#infoPageRoot {
    -fx-background-color: palette1-1;
}

#infoPageRoot .mfx-scroll-pane {
    -fx-background-color: transparent;
}

#infoPageRoot .image-viewer {
    -fx-effect: dropshadow(gaussian, palette3-1, 10, 0.2, 3, 3);;
}

#infoPageRoot .info-header {
    -fx-font-size: 22;
}

/*
    STATISTICS STYLE
*/

#statisticsPageRoot {
    -fx-padding: 20;
    -fx-background-color: palette1-1;
}

.chart,
.chart .text,
.axis,
.axis .label,
.axis .text {
    -fx-text-fill: palette4-1;
    -fx-fill: palette4-1;
    -fx-tick-label-fill: palette4-1;
}


/*
SETTINGS STYLE
*/

#settingsPageRoot {

}

#settingsScrollPane {
    -fx-background-color: palette1-1;
}

.settingsCategory {
    -fx-background-color: palette1-2;
}

.settingsCategoryHeader {

}


.mfx-slider {
    -mfx-main-color: palette3-1;
    -mfx-main-color-hover: palette3-2;
    -mfx-main-color-pressed: palette3-3;
    -mfx-disabled-color: palette4-2;
}

.mfx-combo-box {
    -mfx-track-color: rgb(230, 230, 230);
    -mfx-thumb-color: rgb(137, 137, 137);
    -mfx-thumb-hover-color: rgb(89, 88, 91);
    /*-mfx-gap: 0;*/
}


.mfx-combo-box .caret .mfx-font-icon {
    -mfx-color: palette4-1;
}

.mfx-combo-box:focus-within .caret .mfx-font-icon {
    -mfx-color: palette3-1;
}

.mfx-combo-box .floating-text,
.mfx-password-field .floating-text,
.mfx-text-field .floating-text {
    -fx-text-fill: palette4-1;
}

.mfx-text-field:focus-within .floating-text,
.mfx-password-field:focus-within .floating-text,
.mfx-combo-box:focus-within .floating-text {
    -fx-color: palette3-2;
    -fx-text-fill: palette3-2;
}


.mfx-combo-box .caret .mfx-ripple-generator {
    -mfx-ripple-color: shadow1;
    -mfx-ripple-radius: 14;
}

.mfx-combo-box .virtual-flow {
    -fx-background-color: palette1-0;
    -fx-border-color: palette1-2;
}

.mfx-combo-box .virtual-flow .mfx-combo-box-cell:hover {
    -fx-background-color: palette1-1;
}

.mfx-combo-box .virtual-flow .mfx-combo-box-cell:selected {
    -fx-background-color: palette1-3;
}

.mfx-toggle-button {
    -mfx-main: palette3-2;
    -mfx-secondary: palette4-2;
}

.mfx-checkbox {
    -mfx-main: palette3-2;
    -mfx-secondary: palette4-2;
    -fx-text-fill: palette4-1;
}

