.root {
    -fx-background-color: palette1-1;
}

/* BASE Styling */

#navBar {
    -fx-background-color: palette2-2;
}

#navBar .button {


    -fx-background-radius: 0em;
    -fx-background-color: inherit;
    -fx-text-fill: palette1-2;
    -fx-icon-color: palette1-2;
    box-sizing: border-box;
    -fx-padding: 0 5px 0 5px;
    -fx-border-width: 0px;
}
#navBar .ikonli-font-icon {
    -fx-effect: dropshadow(gaussian, rgba(52, 80, 52, 0.45), 10, 0.2, 2, 2);
}

#navBar .mfx-button:hover , #navBar .mfx-button:focused{
    -fx-icon-color: palette1-0;
}

#navBar .mfx-button:hover .ikonli-font-icon,  #navBar .mfx-button:focused .ikonli-font-icon{
    -fx-effect: dropshadow(gaussian, rgba(217, 255, 182, 0.45), 10, 0.3, 2, 2);
}

#navBar .mfx-button:pressed, #navBar .mfx-button:selected {
    -fx-background-color: palette1-3;
    -fx-border-color: palette2-3;
    -fx-icon-color: palette1-0;
    -fx-border-width: 0 0 0 5px;
    -fx-padding: 0 5px 0 0;
}

#navBar .mfx-button * {
    -fx-icon-color: inherit;
}

.progress-indicator .percentage { -fx-fill:null; }

.split-pane-divider { -fx-padding: 0; }