@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto-Medium.ttf');
}


/*@font-face {*/
/*    font-family: 'Roboto-Bold';*/
/*    src: url('../fonts/Roboto/Roboto-Bold.ttf');*/
/*}*/

.text {
    /*just to make it obvious where it's missing*/
    -fx-font-family: "Comic Sans MS";
    -fx-font-size: 14px;
}

/* BASE STYLE

- #baseRoot
  - .border-pane
    - #navBar
      - .vbox
        - .mfx-rectangle-toggle-node
    - #pageRoot

*/
#baseRoot {
    -fx-background-color: palette1-1;

}


#navBar {
    -fx-background-color: palette2-2;
    -fx-background-radius: 0 10px 10px 0;
    /*
        doesn't work properly
    -fx-effect: dropshadow(gaussian, rgba(67, 91, 42, 0.25), 20, 0.4, 0, 0);
    */

}

#navBar .mfx-rectangle-toggle-node {
    -fx-border-width: 0px;
    -fx-border-radius: 8px;
    -fx-background-radius: 8px;
    -fx-background-color: inherit;
    -fx-text-fill: palette1-1;
    -fx-icon-color: palette1-1;
    box-sizing: border-box;
    -fx-padding: 0;
}

#navBar .mfx-ripple-generator {
    /* since I cant get the size right, I just disabled it*/
    -mfx-paused: true;
    -fx-background-size: 60px 60px;

}

#navBar .ikonli-font-icon {
    -fx-effect: dropshadow(gaussian, rgba(67, 91, 42, 0.3), 0, 0.2, 2, 2);
}

#pageRoot {
    -fx-background-color: transparent;
}


/*#navBar .mfx-rectangle-toggle-node:focused {*/
/*    -fx-border-radius: 2px;*/
/*    -fx-border-color: #ccFFcc;*/
/*}*/

#navBar .mfx-rectangle-toggle-node:hover {
    -fx-background-color: palette2-3;
    -fx-icon-color: palette1-1;
}

#navBar .mfx-rectangle-toggle-node:selected {
    -fx-background-color: palette1-1;
    -fx-icon-color: palette2-2;
    -fx-effect: innershadow(gaussian, rgba(67, 91, 42, 0.3), 10, 0.2, 0, 3);
}

#navBar .mfx-rectangle-toggle-node:selected .ikonli-font-icon {
    -fx-effect: none;
}

#navBar .mfx-rectangle-toggle-node * {
    -fx-icon-color: inherit;
}


/* HOME PAGE STYLE

- #homeRoot
  - #homeMainContentRoot
    - #homeFullScreenButton
    - #homeSelectedTag
      - .label
      - .circle
    - #homeActivitySelectorComboBox
    - #homeProgressDisplay
      - .mfx-progress-spinner
      - #homeTreeBackground
      - .image-view
    - #homeActivityButton
  - <home page tags>
*/


#homeRoot {
    -fx-background-color: palette1-1;
}

#homeFullScreenButton {
    -fx-background-color: transparent;
}

/*#homeProgressDisplay{*/
/*    */
/*}*/

#homeProgressDisplay .mfx-progress-spinner {
    -mfx-color1: palette2-2;
}

#homeTreeBackground {
    -fx-background-color: palette1-3;
    -fx-background-radius: 50%;
}

/*#homeTagList {*/

/*}*/

/* HOME PAGE TAGS STYLE

- #homePageTagsRoot
  - .vbox
   - <tags>
  - #newTagButton (.mfx-button)
*/

#homePageTagsRoot {
    -fx-background-color: palette2-2;
    -fx-background-radius: 10px 0 0 10px;
    -fx-effect: dropshadow(gaussian, rgba(67, 91, 42, 0.25), 20, 0.4, 0, 0);

}

#homePageTagsRoot .label {
    -fx-background-color: palette1-1;
    -fx-background-radius: 23px;
    -fx-padding: 5px 25px 5px 25px;
    -fx-text-fill: palette3-2;
    -fx-font-weight: 800;
    -fx-font-size: 16px;
    -fx-effect: dropshadow(gaussian, rgba(67, 91, 42, 0.25), 20, 0.4, 0, 0);

}

/*
todo: this should be a reusable class
 */
#homePageTagsRoot #newTagButton {
    -fx-border-color: palette3-2;
    -fx-border-width: 2px;
    -fx-border-radius: 8px;
    -fx-background-color: palette1-1;
    -fx-background-radius: 10px;
    -fx-text-fill: palette3-2;
    -fx-font-weight: 800;
    -fx-effect: dropshadow(gaussian, rgba(67, 91, 42, 0.3), 10, 0.2, 3, 3);
}

.progress-indicator .percentage
{
    -fx-fill: null;
}


/*.mfx-minus
{
    -fx-alignment: center;
    -fx-body-color: red;
}
*/


/* TAG STYLE

- .homeTag (mfx-rectangle-toggle-group)
  - hbox
    - .tagColorButton
      - color-picker
    - .tagTextField
    - .tagRemoveButton
      - ikonli-font-icon


*/


/*-fx-color-label-visible*/

.homeTag {
    -fx-background-color: palette1-1;
    -fx-border-color: palette1-3;
    -fx-border-radius: 21px;
    -fx-background-radius: 21px;
    -fx-text-fill: inherit;

    -fx-border-width: 2px;
    -fx-effect: dropshadow(gaussian, rgba(67, 91, 42, 0.3), 10, 0.2, 3, 3);

}

.homeTag:selected {
    -fx-background-color: palette3-1;
    -fx-border-color: palette3-3;
    -fx-border-width: 3px;

    -fx-effect: innershadow(gaussian, rgba(75, 65, 26, 0.5), 10, 0.2, 3, 3);

}

.tagColorButton {
    -fx-background-radius: 50%;
    -fx-border-radius: 50%;
    /*-fx-effect: innershadow(gaussian, rgba(75, 65, 26, 0.5), 10, 0.2, 3, 3);*/

    -fx-effect: dropshadow(gaussian, rgba(67, 91, 42, 0.3), 10, 0.2, 2, 2);
    -fx-border-width: 1px;
    -fx-border-color: black;

}


.tagTextField {
    -fx-font-weight: 800;
    -fx-text-fill: palette3-3;
    -fx-border-width: 0px;
    -fx-background-color: transparent;
}

.homeTag:selected .tagTextField {
    -fx-text-fill: palette1-1;
}

.tagTextField * {
    -fx-text-fill: inherit;
}

.tagRemoveButton {
    -fx-background-color: transparent;
    -fx-icon-color: palette3-3;
}

.tagRemoveButton * {
    -fx-icon-color: inherit;
}


/*
FEEDBACK STYLE

- .notification
  - HBox
    - label
*/

.notification {
    -fx-background-color: palette1-1;
    -fx-background-radius: 4px;
    -fx-border-width: 2px;
    -fx-border-radius: 4px;
    -fx-border-color: palette2-1;
}

.notification .header {
    -fx-text-fill: palette3-3;
    -fx-effect: dropshadow(gaussian, rgba(89, 69, 38, 0.3), 4, 0.2, 2, 2);
    -fx-font-weight: 800;
    -fx-font-size: 18px;
}

.notification .content {
    -fx-text-fill: palette4-1;
    -fx-font-weight: 400;
    -fx-font-size: 16px;
}
